docs/integrations/n8n-workflow.json
{
  "name": "WhatsApp AI Email Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mth-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inbound",
      "name": "WhatsApp Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mth-whatsapp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MTH_API_BASE}}/ai/templates/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.MTH_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.body.prompt) }},\n  \"brandColor\": \"#111827\"\n}",
        "options": {}
      },
      "id": "generate",
      "name": "Generate Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MTH_API_BASE}}/templates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.MTH_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"WhatsApp draft {{$now}}\",\n  \"content\": {\n    \"editorKind\": \"mjml\",\n    \"subject\": {{ JSON.stringify($json.subject) }},\n    \"preheader\": null,\n    \"mjmlSource\": {{ JSON.stringify($json.mjmlSource) }},\n    \"grapesProject\": null,\n    \"htmlBody\": \"\",\n    \"textBody\": null,\n    \"variables\": {{ JSON.stringify($json.variables.map(v => ({ name: v.name, type: v.type, required: false, default: null, sample: v.sample })) ) }},\n    \"assets\": []\n  }\n}",
        "options": {}
      },
      "id": "create-template",
      "name": "Create Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-WHATSAPP-PROVIDER/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": {{ JSON.stringify($('WhatsApp Inbound').item.json.body.from) }},\n  \"text\": \"Draft ready: {{ $('Create Template').item.json.currentVersion.subject }}\\nReply APPROVE (or open the resume URL) to send.\"\n}",
        "options": {}
      },
      "id": "send-preview",
      "name": "Send Preview to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Replace URL/body with your Twilio or Meta WhatsApp Cloud node."
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "webhookId": "mth-approval"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.MTH_API_BASE}}/email-accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.MTH_API_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "get-account",
      "name": "Get Sending Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MTH_API_BASE}}/sends",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.MTH_API_KEY}}" },
            { "name": "Idempotency-Key", "value": "={{ $('WhatsApp Inbound').item.json.body.messageId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"connectedEmailAccountId\": {{ JSON.stringify($json.items[0].id) }},\n  \"templateVersionId\": {{ JSON.stringify($('Create Template').item.json.currentVersion.id) }},\n  \"recipients\": [ { \"email\": {{ JSON.stringify($('WhatsApp Inbound').item.json.body.recipient) }} } ],\n  \"variables\": {}\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Draft created ({{$('Create Template').item.json.name}}). Awaiting approval.",
        "options": {}
      },
      "id": "respond",
      "name": "Ack WhatsApp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 480]
    }
  ],
  "connections": {
    "WhatsApp Inbound": { "main": [[{ "node": "Generate Template", "type": "main", "index": 0 }]] },
    "Generate Template": { "main": [[{ "node": "Create Template", "type": "main", "index": 0 }]] },
    "Create Template": {
      "main": [[
        { "node": "Send Preview to WhatsApp", "type": "main", "index": 0 },
        { "node": "Ack WhatsApp", "type": "main", "index": 0 }
      ]]
    },
    "Send Preview to WhatsApp": { "main": [[{ "node": "Wait for Approval", "type": "main", "index": 0 }]] },
    "Wait for Approval": { "main": [[{ "node": "Get Sending Account", "type": "main", "index": 0 }]] },
    "Get Sending Account": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateVersion": 1 }
}
